<div class="container my-2">
    <div class="row">
        <div class="col-12 text-center">
            <h2>Elektromos Gitárok</h2>
            <div class="card text-center" style="width: 18rem;">
                <img src="../../assets/guitar1.jpg" class="card-img-top" alt="Ibanez GRG-121DX WNF" title="Ibanez GRG-121DX WNF">
                <div class="card-body text-center">
                  <h5 class="card-title">Ibanez GRG-121DX WNF</h5>
                  <p class="card-text">Superstrat elektromos gitár</p>
                  <p><b>Ára: </b>99.900 Ft</p>
                  <a routerLink="/guitar1" class="btn btn-primary">Részletek</a>
                </div>
              </div>

              <div class="card text-center" style="width: 18rem;">
                <img src="../../assets/guitar2.jpg" class="card-img-top" alt="Ibanez GSA60QA-TRB" title="Ibanez GSA60QA-TRB">
                <div class="card-body text-center">
                  <h5 class="card-title">Ibanez GSA60QA-TRB</h5>
                  <p class="card-text">Superstrat elektromos gitár</p>
                  <p><b>Ára: </b>119.900 Ft</p>
                  <a routerLink="/guitar2" class="btn btn-primary">Részletek</a>
                </div>
              </div>

              <div class="card text-center" style="width: 18rem;">
                <img src="../../assets/guitar3.jpg" class="card-img-top" alt="Ibanez GRG121SP-BKN" title="Ibanez GRG121SP-BKN">
                <div class="card-body text-center">
                  <h5 class="card-title">Ibanez GRG121SP-BKN</h5>
                  <p class="card-text">Superstrat elektromos gitár</p>
                  <p><b>Ára: </b>149.900 Ft</p>
                  <a routerLink="/guitar3" class="btn btn-primary">Részletek</a>
                </div>
              </div>

              <div class="card text-center" style="width: 18rem;">
                <img src="../../assets/guitar4.jpg" class="card-img-top" alt="Ibanez GSA-60 WNF" title="Ibanez GSA-60 WNF">
                <div class="card-body text-center">
                  <h5 class="card-title">Ibanez GSA-60 WNF</h5>
                  <p class="card-text">Superstrat elektromos gitár</p>
                  <p><b>Ára: </b>199.900 Ft</p>
                  <a routerLink="/guitar4" class="btn btn-primary">Részletek</a>
                </div>
              </div>
        </div>
    </div>
</div>