<div class="container my-2">
    <div class="row">
        <div class="col-12">
            <h2>Rólunk</h2>
        </div>
        <div class="col-12 col-md-8">
            <img class="w-100" src="../../assets/group.jpg" alt="group" title="group">
        </div>

        <div class="col-12 col-md-4">
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cum, hic consectetur voluptates magnam illo
                laboriosam odit odio ipsam, fugit amet, tempora excepturi obcaecati laborum expedita exercitationem
                corporis ipsum minus incidunt!</p>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cum, hic consectetur voluptates magnam illo
                laboriosam odit odio ipsam, fugit amet, tempora excepturi obcaecati laborum expedita exercitationem
                corporis ipsum minus incidunt!</p>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cum, hic consectetur voluptates magnam illo
                laboriosam odit odio ipsam, fugit amet, tempora excepturi obcaecati laborum expedita exercitationem
                corporis ipsum minus incidunt!</p>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cum, hic consectetur voluptates magnam illo
                laboriosam odit odio ipsam, fugit amet, tempora excepturi obcaecati laborum expedita exercitationem
                corporis ipsum minus incidunt!</p>
        </div>
    </div>
</div>