<div class="container my-2">
    <div class="row">
        <div class="col-12">
            <h2>Ibanez GRG-121DX WNF</h2>
        </div>
        <div class="col-12 col-md-6">
            <img class="w-100 my-3" src="../../assets/guitar1.jpg" alt="Ibanez GRG-121DX WNF" title="Ibanez GRG-121DX WNF">
        </div>

        <div class="col-12 col-md-6">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere enim rem quod, quidem quos impedit
                molestiae dolorem suscipit omnis, tenetur ut architecto, perferendis nulla natus qui cumque fugiat
                molestias a!</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere enim rem quod, quidem quos impedit
                molestiae dolorem suscipit omnis, tenetur ut architecto, perferendis nulla natus qui cumque fugiat
                molestias a!</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere enim rem quod, quidem quos impedit
                molestiae dolorem suscipit omnis, tenetur ut architecto, perferendis nulla natus qui cumque fugiat
                molestias a!</p>
            <ul>
                <li><b>Forma:</b> Superstrat</li>
                <li><b>Kivitelezés:</b> asd</li>
                <li><b>Testkivitel:</b> asd</li>
                <li><b>Test anyaga:</b> asd</li>
                <li><b>Nyak:</b> asd</li>
                <li><b>Fogólap:</b> asd</li>
                <li><b>Nyakkivitel:</b> asd</li>
                <li><b>Bundok :</b> asd</li>
                <li><b>Nyereg szélesség:</b> asd</li>
                <li><b>Skála:</b> asd</li>
            </ul>
            <p><b>Ára: </b><i>99.900 Ft</i></p>
            <p style="padding-top: 5px;"><b>Készleten: <span style="color: green;">Igen</span></b></p>
            <button class="btn btn-dark">Kosárba</button>
        </div>
    </div>

    <a href="hangszerek" class="btn btn-primary my-3">Vissza</a>
</div>