<div class="container my-2">
    <div class="row">
        <div class="col-12">
            <h2>Kapcsolat</h2>
        </div>
        <div class="col-12 col-md-8">
            <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d43363.43344608377!2d18.567966181155946!3d47.21238333935408!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x476a01f25db77a07%3A0x4e13816d895ecf35!2sVelencei-t%C3%B3!5e0!3m2!1shu!2shu!4v1706978520825!5m2!1shu!2shu"
            width="850" height="550" style="border:0;" allowfullscreen="" loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>

        <div class="col-12 col-md-4">
            <h4 style="text-indent: 55px; margin-bottom: 50px;">Elérhetőségeink</h4>
            <table>
                <td>
                    <tr><b>Cím: </b>1111. Budapest Hangszer utca 11.</tr><br>
                    <tr><b>Email: </b>hangszer@hangszer.hu</tr><br>
                    <tr><b>Telefonszám: </b>06-30-111-111-111</tr><br>
                    <tr><b>Nyitvatartás: </b><i>Hétfő-Péntek: </i> 10:00-19:00</tr><br>
                    <tr><i>Szombat: </i> 10:00-14:00</tr>
                </td>
            </table>
        </div>
    </div>
</div>